* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    color: #4E4D62;
    font-family: 'Poppins' ;
}

h1 {
    color: inherit;
    font-weight: 300;
    font-size: 100px;
}

h2 {
    color: inherit;
    font-weight: 400;
    font-size: 22px;
}

h3 {
    color: inherit;
    font-weight: 600;
    font-size: 22px;
}

h4 {
    color: inherit;
    font-weight: 500;
    font-size: 20px;
}

.button h4 {
    color: #ffffff;
}


p {
    color: inherit;
    font-weight: 400;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {

    background-color: #4e4d62;
    background-image: linear-gradient(165deg, #4e4d62 44%, #706f83 100%);

    height: 80px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

#button-text {
    align-self: center;
    transform: translate(0%, -25%);
    /* margin-top: -0.1px; */

}

/* STRUCTURE (in order of appearance) */

.container {
    width: 96vw;
    justify-content: center;
    /* flex-direction: row; */
}


.menu {
    background-color: white;
    /* width: 100vw; */
    height: 60px;
    /* height: 7vh; */
    /* z-index: +1; */
}

.Zplus1 {
    /* background-color: crimson; */
    /* height: 300px; */
    /* top: 70px; */
    /* position: absolute; */
    z-index: +1;
}


.section-1 {
    /* background-color: wheat; */
    /* height: 1084px; */
    height: 100vh;
    z-index: -1;
}

.fullbleed-1 {
    /* background-color: yellow; */
    background-image: url('../media/U_alex-loup-Md6_qA-BMis-unsplash_brigther.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 99vh;
    z-index: -2;

}

.section-2 {
    /* background-color: coral; */
    height: 650px;
}

.fullbleed-2 {
    /* background-color: darkcyan; */
    background-image: url('../media/placeholder2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 400px;
    /* this might need adjustment */
}

.section-3 {
    /* background-color: yellowgreen; */
    height: 700px;
}

.section-4 {
    /* background-color: cornflowerblue; */
    height: 700px;
    /* this might need adjustment */

}

.section-5 {
    /* background-color: magenta; */
    height: 400px;
}

.section-6 {
    /* background-color: thistle; */
    height: 700px;
}

.fullbleed-3 {
    background-color: #EDEDED;
    /* background-image: url('../media/U_alex-loup-Md6_qA-BMis-unsplash_brigther.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0%;
    width: 100vw;
    height: 260px;
    /* this might need adjustment */
    z-index: -1;

}

.floating-logo {
    justify-content: center;
    height: 45px;
    width: 100vw;
    /* z-index: +3; */
}




/*IMAGE STYLING*/

.image-border img {
    border: 1px solid #eee;
}

.parallax-container {
    height: 400px;
}


.floating-logo img {
    position: absolute;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    /* Half the width */
}

/* DISTANCE TAGS */

#distance-120px {
    /* background-color: aqua; */
    height: 120px;
}

#distance-90px {
    /* background-color: darkblue; */
    height: 90px;
}

#distance-80px {
    /* background-color: lightblue; */
    height: 80px;
}

#distance-70px {
    background-color: blue;
    height: 70px;
}

#distance-60px {
    /* background-color: blue; */
    height: 60px;
}

#distance-50px {
    /* background-color:teal; */
    height: 50px;
}

#distance-40px {
    /* background-color:teal; */
    height: 40px;
}

#distance-30px {
    /* background-color:teal; */
    height: 30px;
}

#distance-20px {
    /* background-color:teal; */
    height: 20px;
}



/*FONT FACE*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Black.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Bold.ttf');
    font-weight: 900;
    font-style: normal;
}


/*MEDIA SCREEN*/